
<div>
<br/> <h1>LEAVE MANAGEMENT</h1>

<table border="3" align="center">
  <tr>
    <th>EmpId</th>
    <th>Name</th>
    <th>Email</th>
    <th>MobileNo </th>
    <th >Date_Of_Joining </th>
    <th>ManagerId</th>
    <th>AvailableLeave</th>
    <th>Deparment </th>
    <th>Login</th>
  </tr>
  <tr *ngFor ="let user of emp | async">
    <td>{{user.empId}}</td>
    <td>{{user.empFullName}}</td>
    <td>{{user.empEmail}}</td>
    <td>{{user.empMobile}}</td>
    <td>{{user.empDateOfJoining}}</td>
    <td>{{user.empMgrId}}</td>
    <td>{{user.empAvailabeLeave}}</td>
    <td>{{user.empDepartment}}</td>
    <button type ="button" value ="login" (click)="login(user.empId,user.empMgrId)">login
      </button>
  </tr>
  </table>


</div>
