
<table border ="3">
  <tr >
  <th>leaveEmpId</th>
  <th width ="60">leaveId</th>
  <th>leaveType</th>
  <th width ="30">leaveStartDate </th>
  <th>leaveEndDate </th>
  <th>leaveAppliedOn</th>
  <th width ="50">leaveReason</th>
  <th>leaveNoOfDays </th>
  <th>leaveStatus </th>
  <th>leaveMgrComments</th>
</tr>
<tr *ngFor ="let leave of leaveDetails | async" >
<td width ="80">{{leave.leaveEmpId}}</td>
<td width ="60">{{leave.leaveId}}</td>
<td width ="100">{{leave.leaveType}}</td>
<td width ="110">{{leave.leaveStartDate}}</td>
<td width ="150">{{leave.leaveEndDate}}</td>
<td width ="110">{{leave.leaveAppliedOn}}</td>
<td width ="95">{{leave.leaveReason}}</td>
<td width ="100">{{leave.leaveNoOfDays}}</td>
<td width ="70">{{leave.leaveStatus}}</td>
<td width ="130">{{leave.leaveMgrComments}}</td>
</tr>

</table>
