<p>
  approvedeny works!
</p>
Employee Id  :
{{ (employee | async)?.empId }}   &nbsp; &nbsp; StartDate :{{(leaveDetails | async )?.leaveStartDate}}
<br/>
<br/>
Fullname :
{{ (employee | async)?.empFullName }} &nbsp; &nbsp; EndDate :{{(leaveDetails | async )?.leaveEndDate}}
<br/>                                
<br/>
EmpAvailabeLeave :
{{ (employee | async)?.empAvailabeLeave }}  
<br/><br/>
 No Of Days Applied :{{(leaveDetails | async )?.leaveNoOfDays}}
 <br/><br/>
 LeaveType :{{(leaveDetails | async )?.leaveType}}
 <br/><br/>
 LeaveType :{{(leaveDetails | async )?.leaveReason}}
 <br/>  
<br/>
<div class ="form-group">
comment &nbsp;<input type ="text" [(ngModel)]="obj.leaveMgrComments" class ="input" style = "margin-left:37px;">
</div>
<br/>
<br/>
<button (click)="approve()"class ="btn btn-success">Approve</button>
<button (click)="deny()"class ="btn btn-success">Deny</button>
<button (click)="cancel()"class ="btn btn-success">Cancel</button>
Result is : {{msg}}

